<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
  </head>
  <body>
    <h1>Add new pokemon:</h1>
    <form action="/pokemons/new" method="post">
      <label for="name">Pokemon name:</label>
      <input name="name" id="name" type="text" />
      <button type="submit">Add pokemon</button>
    </form>
    <a href="/pokemons">Back to previous page</a>
  </body>
</html>
