<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/pika.svg" />
    <title>Inventory App</title>
  </head>
  <body>
    <h1 class="mainTitle">My pokemon databases</h1>
    <ul class="dbList">
      <% dbList.forEach((db) => { %>
      <li>
        <a href="/<%= db.table_name %>">
          <button class="dbBtn">
            <%= db.table_name.charAt(0).toUpperCase() + db.table_name.slice(1)
            %>
          </button></a
        >
      </li>
      <% }); %>
    </ul>
  </body>
</html>
