<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory App</title>
  </head>
  <body>
    <h1>Edit trainer:</h1>
    <form action="/trainers/edit/<%= trainer.id %>" method="post">
      <label for="name">Trainer name:</label>
      <input name="name" id="name" type="text" value="<%= trainer.name %>" />
      <label for="game">Trainer game:</label>
      <input type="text" name="game" id="game" value="<%= trainer.game %>" />
      <button type="submit">Save changes</button>
    </form>
    <a href="/trainers">Back to previous page</a>
  </body>
</html>
